/* Dropdown container */
.dropdown {
    position:relative;
    display: inline-block;
}

/* Button styling */
.dropbtn {
    /* display: inline-block; */
    padding: 10px 20px;
    background-color: #6F4E37;
    color: #ffff;
    border: none;
    transition: all 0.3s ease;
    cursor:pointer;
}

/* dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: none;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}